#source ~/.vimrc
set timeoutlen=1000 ttimeoutlen=0
imap jj <Esc>

nmap <silent> <C-h> :wincmd h<CR>
nmap <silent> <C-j> :wincmd j<CR>
nmap <silent> <C-k> :wincmd k<CR>
nmap <silent> <C-l> :wincmd l<CR>

:map Ag action FindInPath<CR>
